$colors: (
	base:	   #312822,
	dark:	   #0B1119,
	white:	   #FFFFFF,
	beige:       #EDEBD8,
	green-light: rgba(237, 235, 216, 0.5),

	);

@function c($color:base) {
	@return map-get($colors, $color);
}

$colorForeground: c();
$colorBackground: c(white);
$colorFeatured: c(azul);
$colorError: #8A1010;
