%Bellissima, .Bellissima {
    font-family: f(Bellissima);
    font-weight: normal;
    font-style: normal;
}

%BodoniSvtyBook, .BodoniSvtyBook {
    font-family: f(BodoniSvtyBook);
    font-weight: normal;
    font-style: normal;
}

%BodoniSvtyBook-ita, .BodoniSvtyBook-ita {
    font-family: f(BodoniSvtyBook);
    font-weight: normal;
    font-style: italic;
}

%BodoniSvty, .BodoniSvty {
    font-family: f(BodoniSvty);
    font-weight: normal;
    font-style: normal;
}

%BodoniSvtySCBook, .BodoniSvtySCBook {
    font-family: f(BodoniSvtySCBook);
    font-weight: normal;
    font-style: normal;
}

%BodoniSix, .BodoniSix {
    font-family: f(BodoniSix);
    font-weight: bold;
    font-style: italic;
}

